spring:
  application:
    name: cheonjiyeon-api
  datasource:
    url: ${DB_URL:jdbc:h2:mem:cheonjiyeon;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${DB_USER:sa}
    password: ${DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
server:
  port: ${SERVER_PORT:8080}
